@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font {
    font-family: "Manrope";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.medium-font{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 150%;
}
.border {
    color: #1C1C21;
}

body {
    max-width: 1920px;
    background-color: #070708;
}

.container {
    max-width: 86.98%;
    margin: 0px auto;
}
.nav-section{
    border-bottom: 1px solid #1C1C21;
}
nav {
    display: flex;
    padding: 30px 40px;
    border-right: 1px solid #1C1C21;
    border-left: 1px solid #1C1C21;
    align-items: center;
    justify-content: space-between;
}
.nav-img img{
    width: 100%;
}
nav ul {
    display: flex;
    align-items: flex-end;
    margin-top: 32px;
}

nav ul li {
    list-style: none;
}

#curve1 {
    border: 1px solid #1C1C21;
    border-top-left-radius: 15px;
    background-color: #131316;
}
#curve2 {
    border: 1px solid #1C1C21;
    border-top-right-radius: 15px;
}
nav ul li a {
    border: 1px solid #1C1C21;
    padding: 30px 50px;
    text-decoration: none;
    color: #AFB0B6;
}
.nav-btn button{
    color: #ffffff;
    background-color: #131316;
    padding: 16px 24px;
    border: none;
    border-radius: 10px;
}