@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font {
    font-family: "Manrope";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.medium-font{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 150%;
}
.semi-bold{
    color: #FFFFFF;
    font-size: 3.625rem;
    font-weight: 600;
}
.semi-bold-sm{
    font-size: 1.25rem;
    font-weight: 600;
    color: #797C86;
}
.border {
    color: #1C1C21;
}

body {
    max-width: 1920px;
    background-color: #070708;
}

.container {
    max-width: 83.125%;
    margin: 0px auto;
}
.border{
    border: 1px solid #1C1C21;
}
.text-tranform{
    text-transform: uppercase;
}

.margin-bottom{
    margin-bottom: 200px;
}

.nav-section{
    border-bottom: 1px solid #1C1C21;
}
nav {
    max-width: 86.98%;
    margin: 0px auto;
    display: flex;
    padding: 30px 40px;
    border-right: 1px solid #1C1C21;
    border-left: 1px solid #1C1C21;
    align-items: center;
    justify-content: space-between;
}
.nav-img img{
    width: 100%;
}
nav ul {
    display: flex;
    align-items: flex-end;
    margin-top: 32px;
}

nav ul li {
    list-style: none;
}

#curve1 {
    border: 1px solid #1C1C21;
    border-top-left-radius: 15px;
    background-color: #131316;
}
#curve2 {
    border: 1px solid #1C1C21;
    border-top-right-radius: 15px;
}
nav ul li a {
    border: 1px solid #1C1C21;
    padding: 30px 50px;
    text-decoration: none;
    color: #AFB0B6;
}
.nav-btn button{
    color: #ffffff;
    background-color: #131316;
    padding: 16px 24px;
    border: none;
    border-radius: 10px;
}


.banner-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0px;
    background-image: url(../images/Abstract_Design.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.banner-info .first-title #banner-small-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #62646C;
    text-transform: uppercase;
}
.banner-info .first-title #banner-big-title{
    font-size: 5rem;
    font-weight: 600;
    color: #E5E5E7;
    text-transform: uppercase;
}
.banner-info .second-title #banner-right-small-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #62646C;
    text-transform: uppercase;
}
.second-title-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-btn{
    background-color: #4A2CED;
    padding: 18px 50px;
    border-radius: 100px;
    border: none;
    font-size: 1.8rem;
}

.banner-icons-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon-text{
    color: #D7D0FB;
}

.banner-cover-container img{
    width: 100%;
}

.about-short{
    display: flex;
    justify-content: space-between;
    align-items: center;
}