@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font {
  font-family: "Manrope";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    max-width: 1920px;
    background-color: #070708;
}